html {
    background: rgb(142, 59, 59);
    /* max-height: 200px;     */
    max-width: 100%;
}

#newRandomImage{
    max-width: 100%;
    max-height: 90%;
    display: flex;
    align-items: center;
    justify-content: center  
}
#randomDiv {
    max-width: 100%;
    max-height: 90%;
    display: flex;
    align-items: center;
    justify-content: center
}
#randomImg {
    /* max-height: 500px;     */
    max-width: 100%;
    max-height: 90%;
    display: flex;
    align-items: center;
    justify-content: center
}